body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #9df1ae, #87f080);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.566);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f7f7;
}

i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #0000;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration:none;
}
.error-message {
  color: red;
  margin-top: 5px;
}
.password-instructions{
  color:rgba(6, 44, 141, 0.792);
  margin:auto;
}
 